.idea/
Axelbib/__pycache__/
db.sqlite3
library/__pycache__/
library/migrations/
.hypothesis/
.ipynb_checkpoints/
library/access.py
password.py
scraping/failed_validation
scraping/report
scraping/Analysis of Results/data_set.json

